@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  /*  VILÁGOS MÓD SZÍNEK */
  :root {
    --background: #f8fafc;
    --surface: #ffffff;
    --border: #e2e8f0;
    --content: #0f172a;
    --content-muted: #64748b;
    --primary: #8b5cf6;
    --primary-hover: #7c3aed;
  }

  /*  SÖTÉT MÓD SZÍNEK  */
  .dark {
    --background: #0f172a;
    --surface: #1e293b;
    --border: #334155;
    --content: #f8fafc;
    --content-muted: #94a3b8;
    --primary: #8b5cf6;
    --primary-hover: #a78bfa;
  }

  body {
    background-color: var(--background);
    color: var(--content);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-content: var(--content);
  --color-content-muted: var(--content-muted);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
}