# Példa környezeti konfiguráció a LicitGO szerverhez
# Másold be ezt a fájlt egy `.env` névű fájlba és módosítsd az értékeket szükség szerint.
# A `#` jellel kezdődő sorok megjegyzések és figyelmen kívül lesznek hagyva.
# Bizonyos változók lehetőségei `|` karakterrel vannak elválasztva.
PORT=3000
DOMAIN=http://localhost | https://example.com
DEFAULT_LANG=HU | EN

# Időzóna és lokalizációs beállítások
TIME_ZONE=Europe/Budapest | UTC | Germany/Frankfurt | America/New_York
TIME_LOCALE=en-GB | en-US | hu-HU

# Időformátum beállítások
TIME_DATE_STYLE=short | medium | long | full
TIME_TIME_STYLE=medium | short | long | full
TIME_YEAR_FORMAT=numeric | 2-digit
TIME_MONTH_FORMAT=2-digit | numeric | long | short | narrow
TIME_DAY_FORMAT=2-digit | numeric
TIME_HOUR_FORMAT=2-digit | numeric
TIME_MINUTE_FORMAT=2-digit | numeric
TIME_SECOND_FORMAT=2-digit | numeric

# Adatbázis konfigurációk
DBHOST=localhost
DBUSER=root
DBPASS=
DBNAME=licitgo
DBPORT=3306

# Biztonsági titkok
COOKIESECRET=0123456789abcdef0123456789abcdef
JWTSECRET=0123456789abcdef0123456789abcdef

# E-mail konfigurációk
EMAILHOST=smtp.example.com | smtp.gmail.com
EMAILPORT=587
EMAILUSER=user@example.com
EMAILPASS=password
EMAIL_ALIAS_FROM_NAME=LicitGO
EMAIL_ALIAS_FROM_ADDRESS=example@example.com

# Értesítési beállítások
NOTY_ON_START=false | true
NOTY_TARGET=example@example.com

# Titkosítási beállítások
ENCRYPTALG=aes-256-cbc | aes-192-cbc | aes-128-cbc
ENCRYPTKEY=0123456789abcdef0123456789abcdef
ENCRYPTENC=utf8 | hex | base64

# Hash-elési beállítások
HASHSALT=HASHSALTASDASDA
HASHALG=sha256 | sha512 | md5

# Alapértelmezett admin felhasználó adatok
BA_UT=admin
BA_E=admin@example.com
BA_FN=Administrator
BA_PW=adminpassword
BA_G=male | female
BA_BD=1990-01-01
BA_M=+0000000000

# Egyéb konfigurációk
NODE_ENV=development | production
PW_RESET_EXP_MINS=10

EXCHANGE_API_KEY=API_KEY_PLACEHOLDER
EXCHANGE_API_URL=https://v6.exchangerate-api.com/v6/*/latest/